*{
    box-sizing: border-box;
}
nav {
    background-color: black;
    height: 50px;
}
p {
    text-align: justify;
}
img {
    width: 200px;
    height: auto;
    float: left;
}
p {
    text-align: justify;

}
body {
    background-color:greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
    nav ul {
        margin:0;
        padding:0;
        overflow:hidden;
        height: 50px;
    }
    nav ul li {
        float: left;
        list=style: none;
        
    }
    nav ul li a {
        text-decoration: none;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        font-size: 20px;

    }
    nav ul li a:hover {
        color:greenyellow;
    }
    footer{
        height: 50px;
        background-color:black;
        clear: both;
        position: absolute;
        margin-bottom: 0;
        width: 100%;
    }
    footer p {
        color: white;
        padding: 8px 16px;
        text-align: center;
    }